# ===========================================================
# ――*―― gitignore ――*――
# ===========================================================

.DS_Store
lib/dotfiles_reference/

# あとから追加しても反映されない時は下記をしてからsource
# インデックスからのみファイルを削除する（追跡対象からはずす）
# git rm --cached <FILE_NAME>
# まとめてやるなら
# git rm -r --cached .
# git add .
# git commit -m "rm ignore files"

# ------ 記入例/除外したいものを記す
# exeファイルは要らない
#	*.exe
# binフォルダは要らない
#	bin/
# nuget.exe は必要なファイル(特定のパターンを無視しない)
#	!/.nuget/nuget.exe
# パッケージフォルダ内の .ts ファイルは要らない(フォルダ内の特定拡張子を無視)
#	package/**/*.ts
# フォルダそのものだけを残したい場合、残しておきたいフォルダの中に .gitkeep というファイル名で空のファイルを作成すしてディレクトリを残す方法がある
